@use "../base/variables" as *;
@use "../base/functions" as *;

body {
	font-family: var(--ff-primary);
}

.cards-bg-container {
	background: url("/images/bg-main-mobile.png") no-repeat;
	background-size: cover;
	height: 240px;
}

.cards-container {
	position: relative;
	max-width: 381px;
	margin: 0 auto;
	height: 100%;
}