@use "../base/functions" as *;

@media (min-width: 23rem) {
	.card__number {
		font-size: var(--fs-lg);
	}

	.form__label {
		letter-spacing: 2px;
	}
}

@media (min-width: 90rem) {
	main {
		display: grid;
		grid-template-columns: 483px auto;
		column-gap: 100px;
	}

	.cards-bg-container {
		display: grid;
		align-items: center;
		background: url("/images/bg-main-desktop.png") no-repeat;
		background-size: cover;
		min-height: 100vh;
	}

	.cards-container {
		margin: 0;
		width: 100%;
		max-width: none;
		height: auto;
	}

	.card {
		width: 447px;
		height: 245px;

		&--front {
			position: relative;
			top: unset;
			left: unset;
			transform: translateX(164px);
		}

		&--back {
			position: relative;
			top: unset;
			left: unset;
			transform: translate(258px, 36px);
		}

		&__number {
			font-size: var(--fs-xl);
		}

		&__owner,
		&__expiry,
		&__cvc {
			font-size: var(--fs-md);
		}
	}

	.form,
	.success {
		align-self: center;
		justify-self: center;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.form__group:not(:last-of-type) {
		margin-bottom: rem(26);
	}
}