@use "../base/functions" as *;

.button {
	margin-top: rem(28);
	background-color: var(--bg-button);
	border: none;
	cursor: pointer;
	color: var(--text-accent-white);
	font-size: var(--fs-lg);
	text-align: center;
	width: 100%;
	padding: rem(14) 0;
	border-radius: 8px;

	&:focus-visible {
		outline-offset: 3px;
		outline-color: var(--grad-violet-1);
	}

	&--success {
		margin-top: 0;
		display: block;
	}
}