@use "../base/variables" as *;

.button {
	margin-top: toRem(28);
	background-color: var(--bg-button);
	border: none;
	cursor: pointer;
	color: var(--text-accent-white);
	font-size: toRem(18);
	text-align: center;
	width: 100%;
	padding: toRem(14) 0;
	border-radius: 8px;
}