@use "../base/functions" as *;

.card {
	width: min(76%, 286px);
	height: 157px;
	color: var(--text-accent-white);
	font-weight: var(--fw-regular);
	border-radius: 5px;
	box-shadow: 0 15px 29px 0 rgba(0, 0, 0, .1);

	&--front {
		position: absolute;
		z-index: 2;
		top: rem(126);
		left: rem(16);
	}

	&--back {
		position: absolute;
		top: rem(32);
		right: rem(16);
	}

	&__img {
		height: 100%;
	}

	&--front>span,
	&--back>span {
		position: absolute;
	}

	&__cvc {
		font-size: var(--fs-xs);
		top: 45%;
		right: 12%;
	}

	&__number {
		top: 52%;
		left: 6%;
		font-size: var(--fs-md);
		letter-spacing: 2px;
	}

	&__owner,
	&__expiry {
		top: 78%;
		font-size: var(--fs-xs);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__owner {
		left: 6%;
	}

	&__expiry {
		right: 6%;
	}

	&__logo {
		position: absolute;
		width: 54px;
		height: 30px;
		top: 11%;
		left: 6%;
	}
}