@use "../base/variables" as *;
@use "../base/functions" as *;

.card {
	width: min(76%, 286px);
	color: var(--text-accent-white);
	font-weight: var(--fw-regular);

	&--front {
		position: absolute;
		z-index: 2;
		top: rem(126);
		left: rem(16);
	}

	&--back {
		position: absolute;
		top: rem(32);
		right: rem(16);
	}

	&--front>span,
	&--back>span {
		position: absolute;
	}

	&__cvc {
		font-size: rem(12);
		top: 44%;
		right: 12%;
	}

	&__number {
		top: 52%;
		left: 6%;
		font-size: rem(14);
		letter-spacing: 2px;
	}

	&__owner,
	&__expiry {
		top: 78%;
		font-size: rem(12);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__owner {
		left: 6%;
	}

	&__expiry {
		right: 6%;
	}

	&__logo {
		position: absolute;
		width: 54px;
		height: 30px;
		top: 11%;
		left: 6%;
	}
}