@use "../base/abstracts" as *;

.fa-icon {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: rem(40) 0;
}

.fa-github {
	font-size: var(--28px);
	cursor: pointer;
	color: var(--text-primary);
}