@use "../base/variables" as *;
@use "../base/functions" as *;

.form {
	width: min(87%, 381px);
	margin: rem(90) auto 0;
	font-weight: var(--fw-regular);

	&__group:not(:last-of-type) {
		margin-bottom: rem(20);
	}

	&__group--grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(10);
	}

	&__label {
		display: block;
		font-size: rem(12);
		color: var(--text-primary);
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: rem(8);
	}

	&__input {
		width: 100%;
		border: 1px solid var(--border-input);
		border-radius: 8px;
		padding: rem(10) rem(16);

		&::placeholder {
			font-size: rem(18);
			color: var(--text-accent-violet);
		}
	}
}