@use "../base/variables" as *;
@use "../base/functions" as *;

.success {
    width: min(87%, 381px);
    margin: rem(90) auto 0;
    text-align: center;

    &__img {
        margin: 0 auto;
        margin-bottom: rem(35);
    }

    &__heading {
        font-size: rem(28);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: rem(16);
    }

    &__subheading {
        font-size: rem(18);
        color: var(--text-accent-violet);
        margin-bottom: rem(48);
    }
}