:root {
	// Font Colors
	--text-primary: hsl(278, 68%, 11%);
	--text-accent-white: hsl(0, 0%, 100%);
	--text-accent-red: hsl(0, 100%, 66%);
	--text-accent-violet: hsl(279, 6%, 55%);

	// Background Colors
	--bg-button: hsl(278, 68%, 11%);

	// Border Colors
	--border-input: hsl(270, 3%, 87%);

	// Gradient Colors
	--grad-violet-1: hsl(249, 99%, 64%);
	--grad-violet-2: hsl(278, 94%, 30%);

	// Font Families
	--ff-primary: "Space Grotesk", sans-serif;

	// Font Weights
	--fw-regular: 500;
}